{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Twittex</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block extra_head %}
		{% endblock %}
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href="{% static "css/base.css" %}" rel="stylesheet">

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	  	<script>
			$(document).ready(function(){
		    	$('[data-toggle="tooltip"]').tooltip(); 
			});
		</script>
	</head>
	
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

		  <div class="container-fluid collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <div class="navbar-header">
		    	<form class="navbar-form navbar-left">
		     		<a class="navbar-brand" href="#">Twittex</a>
		     	</form>
		    </div>

		    <div>
              {% if user.is_authenticated %}
		      <ul class="nav navbar-nav">
		      	<form class="navbar-form navbar-left">
		        	<li class="active"><a href="/home/">Timeline</a></li>
		    	</form>
                  <li>
		        	<form class="navbar-form navbar-left">
		        		<a href="/profile/{{ request.user.username }}">{{ request.user.username }}'s Profile</a>
		        	</form>
		        </li>
		        <!--	<form class="navbar-form navbar-left">
		        		<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm">Post</button>
		        		
  					</form>  -->
  				<li>
		        	<form class="navbar-form navbar-left">
		        		<a data-toggle="modal" data-target="#myModal">Make a post</a>
		        	</form>
		        </li>
		        <li>
		        	<form class="navbar-form navbar-left">
		        		<a href="/Messages/NewMsg">Messages <span class="badge">0</span></a>
		        	</form>
		        </li>
		        <li>
		        	<form class="navbar-form navbar-left">
		        		<a href="#">Notifications <span class="badge">0</span></a>
		        	</form>
		        </li>
		      </ul>
            {% endif %}
		    <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
		    	<li>
		    		<form class="navbar-form navbar-left" role="search" action ="/search/" method= "get">
  						<div class="form-group form-group-sm">
  							<input type="text" class="form-control" name = "q">
  						</div>


  						<button type="submit" class="btn btn-primary btn-sm">Search</button>
  					</form>
					<!-- <span class="glyphicons glyphicons-search"></span> -->
				</li>
            {% endif %}
		        <li>
		        	<form class="navbar-form navbar-left">
		        	<div class="dropdown">
		        		<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
		        			Help
		        			<span class="caret"></span>
		        		</button>
		        		<ul class="dropdown-menu">
		        			<li><a href="#">Impressum</a></li>
		        			<li><a href="/contact">Contact</a></li>
		        			<li><a href="#">Help</a></li>
		        		</ul>
		        	</div>
		        </form>
		        </li>
		        <li>
		        	<form class="navbar-form navbar-left">
		        		<a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
		        	</form>
		        </li>
    		</ul>
      		</div>
		    </div>
		</nav>

		{% block content %}
		{% endblock content %}


		
		<!-- Modal -->
						  <div class="modal fade" id="myModal" role="dialog">
							<div class="modal-dialog">
							
							  <!-- Modal content-->
							  <div class="modal-content">
								<div class="modal-header">
								  <button type="button" class="close" data-dismiss="modal">&times;</button>
								  <h4 class="modal-title">Post</h4>
								</div>
								<div class="modal-body">
									<form action="/newPost/" method="post">
										{% csrf_token %}
										<textarea class="form-control" rows="5" id="inhalt" name="inhalt"></textarea>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary btn-block">Post!</button>
									<br/>
									</form>
								</div>
							  </div>
							  
							</div>
						  </div>
	</body>
</html>