{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
	<link href="{% static "css/home.css" %}" rel="stylesheet">
	{% endblock %}   
{% block content %}

<div class="container">
<h1 class="well text-center">What's new on your Twittex feed?</h1>
            {% for posts in postss %}
				<div class="well well-sm">
					<table>
						<tr>
							<td><img style="width:40px; height: 40px" class="img-responsive img-rounded" src="{{ posts.autor.userprofile.getPicture }}" alt="Profile Picture"/></td>
							<td><a href="/profile/{{ posts.autor.username }}">@{{ posts.autor.username }}</a><br/>
                			{{ posts.inhalt|safe }}
                			</td>
						</tr>
					</table>
				</div>
            {% endfor %}
</div>
{% endblock content %}
