{% extends "base.html" %}

{% block content %}


<h1 class="well">Your Conversation's</h1>


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#item1" data-toggle="tab">Inbox</a></li>
    <li role="presentation"><a href="#item2" data-toggle="tab">Send Message's</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="item1">
<table class="table">
         <thead>
                 <tr>
                         <th>From User</th>
                         <th>Latest Date</th>
                  </tr>
        </thead>
        <tbody>
            {% for conv in eingang %}
                 <tr>
                     <td><a href="{{ conv.absender.username }}">{{ conv.absender.username }}</a></td>
                     <td> {{ conv.datum }}</td>
                 </tr>
            {% endfor %}
        </tbody>
</table></div>
<div class="tab-pane" id="item2">
<table class="table">
         <thead>
                 <tr>
                         <th>To User</th>
                         <th>Latest Date</th>
                  </tr>
        </thead>
        <tbody>
            {% for conv in ausgang %}
                 <tr>
                     <td><a href="{{ conv.empfaenger.username }}">{{ conv.empfaenger.username }}</a></td>
                     <td> {{ conv.datum }}</td>
                 </tr>
            {% endfor %}
        </tbody>
</table>
</div>
</div>

<a href="/sendMsg" class="btn btn-primary btn-sm dropdown-toggle btn-block" role="button">Send a Message</a>
{% endblock %}