{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Conversations</h3>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Neue Nachricht</a></li>
		{% for msg in object_list %}
			{% if msg.absender  %}
				<li><a href="#">Menu 1</a></li>
			{% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-10"> 
      <h2>Your Conversation</h2>
        <ul>
            {% for msg in object_list %}
				{% if  msg.absender %}
					<li><a href="#">Menu 1</a></li>
				{% endif %}
			{% endfor %}
		</ul>
    </div>
</div>
</div>

{% endblock content %}