{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Vertical Pills</h3>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>
    </div>
    <div class="col-md-9"> 
      <h1>My Post's</h1>
        <ul>
            {% for posts in object_list %}
				{% if posts.absender =  request.user.username  %}
				{{ request.user.username }} schrieb: 
                <div class="Post">{{ posts.inhalt }}</div>
			{% endif %}
            {% endfor %}
		</ul>
    </div>
</div>

{% endblock content %}