{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Conversations</h3>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/Messages/NewMsg">New Message</a></li>
		{% for msg in object_list %}
			{% if msg.absender  %}
				<li><a href="#">Menu 1</a></li>
			{% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-10"> 
      <h2>New Message</h2>
        <form action="/SendNewMsg/" method="post">
			{% csrf_token %}
			Recipient:  <input type="text" class="form-control" id="recipient" name="recipient">
			<textarea class="form-control" rows="5" id="inhalt" name="inhalt"></textarea>
		<button type="submit" class="btn btn-default">Send</button>
		</form>
    </div>
</div>
</div>

{% endblock content %}