{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1 class="well">Reset Password</h1>
	<form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
	    {% for field in form %}
	        <div class="form-group">
	        {{ field.errors }}
	        <p>{{ field.label_tag }}</p>
	        <p>{{ field }}</p>
	        </div>
	    {% endfor %}
	    <p><input type="submit" class="btn btn-primary" value="Send Password" /></p>
	</form>
</div>
{% endblock content %}