{% extends "base.html" %}

{% block content %}
	<br/>
	<div class="container">
	<div class="well">
        {% if user.username = request.user.username %}
            <h1>Welcome to your profile!</h1>
        {% else %}
		    <h1>Welcome to {{ user.username }}'s profile!</h1>
        {% endif %}
	</div>

		<table>
			<tr>
				<td class="well" width="30%"><img class="img-responsive img-rounded" src="{{ user.userprofile.getPicture }}" alt="Profile Picture"/>
				Description:<br/>{{ user.userprofile.desc }}<br/><br/>
				{% if request.user = user %}
            		<a href="/settings/edit" class="btn btn-primary btn-sm dropdown-toggle btn-block" role="button">Edit Profile</a>
					<a href="/settings/password_change" class="btn btn-primary btn-sm dropdown-toggle btn-block" role="button">Edit Password</a>
        {% endif %}

				</td>
				<td>
					<div class="well well-sm">
					<h2>@{{ user.username }}'s posts:</h2>
					{% for posts in object_list %}
						{% if posts.autor = user  %}
						<table>
						<tr>
							<td><a href="/profile/{{ user.username }}">@{{ user.username }}</a> wrote at {{ posts.datum }}
                			<div class="Post">{{ posts.inhalt|safe }}</div>
							{% if request.user = user %}
                			<a href="/delete/{{ posts.id }}" class="btn btn-primary btn-sm">Delete</a>
							{% endif %}
                			</td> 
						</tr>
            		</table>
						{% endif %}
           	 		{% endfor %}
				</div>
                </td>
			</tr>
		</table>
     </div>
{% endblock content %}